@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&display=swap");
main {
  text-align: right;
  direction: rtl;
  font-family: "Heebo", sans-serif;
  font-weight: 600 !important;
  z-index: 1;
}

header {
  z-index: 100;
  width: 100%;
  position: sticky;
  top: 0px;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Heebo";
  font-weight: 500;
}
h3 {
  font-family: "Heebo";
  font-weight: 600 !important;
}
li {
  font-family: "Heebo";
  font-size: 1.1em;
}
