/* @media (max-width: 996px) {
  #prodImage {
    height: 40vh !important;
    margin: 20px;
    width: 100%;
  }
}
@media (max-width: 664px) {
  #prodImage {
  }
}
@media (min-width: 997px) {
  #prodImage {
    height: 100%;
    margin: 20px;
    width: 100%;
  }
}
 */
/* 1197 -991 */
